<style>
table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}
th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
    text-align: center;
}

.dropbtn {
    background-color: #444444;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 20;
}
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #444444;}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
window.onload = function (){
  window.fcmPush = function(token, user_id){
    $.ajax({
          url:'http://13.125.213.238/fcmToken',
          type:'post',
          data:{
            fcm_token : token,
            user_id : user_id
          },
          success:function(data){
              alert("success");
          }
      })
  }
}

</script>
<div class="dropdown">
    <button class="dropbtn">정렬</button>
    <div class="dropdown-content">
        <a href="?type=addedAt&order=ASC">날짜 오름차순</a>
        <a href="?type=addedAt&order=DESC">날짜 내림차순</a>
        <a href="?type=age&order=ASC">나이 오름차순</a>
        <a href="?type=age&order=DESC">나이 내림차순</a>
        <a href="?type=total&order=ASC">총 점수 오름차순</a>
        <a href="?type=total&order=DESC">총 점수 내림차순</a>
    </div>
</div>
<table>
    <tr>
        <th>id</th>
        <th>이름</th>
        <th>나이</th>
        <th>1번 구간</th>
        <th>2번 구간</th>
        <th>3번 구간</th>
        <th>총 점수</th>
        <th>업로드 날짜</th>
    </tr>
    <% for(var i=0; i < data.length; i++) { %>
        <tr>
          <td><%= data[i].id %></td>
          <td><%= data[i].name %></td>
          <td><%= data[i].age %></td>
          <td><%= data[i].first %></td>
          <td><%= data[i].second %></td>
          <td><%= data[i].third %></td>
          <td><%= data[i].total %></td>
          <td><%= data[i].addedAt %></td>
        </tr>
     <% } %>
</table>